.box{
padding: 15px;
margin: 5px;
display: flex;




}

#body{
background-image: url(https://images.pexels.com/photos/561463/pexels-photo-561463.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100%;




}