.box{
padding: 15px;
margin: 5px;
border-style: solid;
border-color: darkcyan;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
color: orangered;
justify-content: space-evenly;
vertical-align:text-top;
}

#body{
background-color: black;





}